<div>
  <div>
    <h1>
      new note
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
  

    <form action="/insert_note" method="post">
      <div>
        <label for="query_body"></label>
        <textarea id="query_body" name="query_body" rows="10" cols="150" placeholder = "your new note..."></textarea>
      </div>



      <div>
        <label for="document_id_box"> Document </label>
        <input type="text" id="document_id_box" name="query_document_id">
      </div>

      <div>
        <label for="document_title"> Document title </label>
        <input type="text" id="document_title" name="document_title">
      </div>

      <button>
        Add note
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Body
        </th>

        <th>
          Creator
        </th>

        <th>
          Document
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_notes.each do |a_note| %>
      <tr>
        <td>
          <%= a_note.id %>
        </td>

        <td>
          <%= a_note.body %>
        </td>

        <td>
          <%= a_note.creator_id %>
        </td>

        <td>
          <%= a_note.document_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_note.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_note.updated_at) %> ago
        </td>

        <td>
          <a href="/notes/<%= a_note.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
