<div>
  <div>
    <h1>
      new note
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
  <%= form_with(model: Note.new, url: "/notes", scope: nil, method: "post") do |form| %>
  <div>
    <%= form.label(:body, for: "query_body") %>
    <%= form.rich_text_area(:body, id: "query_body", name: "query_body") %>
  </div>
  <select id="document_id" name="document_id">
      <option value="" disabled selected>Choose your document</option>
      <!-- Dynamically populated options from the database -->
      <% Document.all.each do |document| %>
        <option value="<%= document.id %>"><%= document.title %></option>
      <% end %>
    </select>
  <button>Create post</button>
<% end %>

  </div>
</div>



<hr>

<p> See all documents or add a document <a href ="/documents"> here </a> </p>

<hr>
