<div>
  <div>
    <h1>
    <%= @the_document.title %> notes
    </h1>

    <div>
      <div>
        <a href="/documents">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_document/<%= @the_document.id %>">
          Delete document
        </a>
      </div>
    </div>

    
<hr>
<div>
   
    <% @the_document.notes.each do |a_note| %>
      <p><%=raw a_note.body %> <a href="/delete_note/<%= a_note.id %>"> Delete</a> </p>
    <%end%>
   
  
</div>
<hr>

  <form action="/modify_document/<%= @the_document.id %>" method="post" >
    
    <div>
      <input type = "checkbox" id = "reclasify" name= "reclassify" >
      <label for ="reclassify" > Chat-GPT reclassification </label> 
    </div>

      <div>
        <label for="structure"> Please write how you want your notes to be reorganized in detail </label>
        <input type="text" id="structure" name="structure">
      </div>

    <div> <button> Reclassify! </button> </div>


<hr>
<div>
  <div>
    <h2>
      Chat-GPT reorganized notes
    </h2>

<hr>
<% if @the_document.reclassify.nil? %>
  <%= @the_document_reclassify %>
<% else %>
  <%= @the_document.reclassify.html_safe %>
<% end %>

<hr>
